.reflex_background
{
    background-image: url("../media/fight.gif");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.white_text
{
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

.custom-col
{
    /* border-style: solid; */
    /* border-color: red; */
}

.code-background
{
    background-color: #ffffff;
    padding: 8px;
}

.jumbotron-custom
{
    /* font-size: large; */
    height: 100%;
}

.brush-image
{
    background-image: url("../media/brush.png");
    background-position: center;
}

.entity-image
{
    background-image: url("../media/entity.png");
    background-position: center;
}

.overview-image
{
    background-image: url("../media/overview.png");
    background-position: bottom;
}

.brush-image, .entity-image, .overview-image
{
    width: 100%;
    height: 58vh;

    /* border-style: dotted; */
    /* border-color: green; */
}

.row
{
    padding-bottom: 25px;
}