.reflex_background
{
    background-image: url("../media/fight.gif");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.white_text
{
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

.custom-col
{
    /* border-style: solid;
    border-color: red; */
}

.code-background
{
    background-color: #ffffff;
    padding: 8px;
    
}

.jumbotron-custom
{
    /* font-size: large; */
    height: 100%;
}

.brush-image
{
    background-image: url("../media/brush.png");
}

.entity-image
{
    background-image: url("../media/entity.png");
}

.overview-image
{
    background-image: url("../media/overview.png");
}

.row
{
    padding-bottom: 25px;
}

/* This is the Css code to make a div a square */
.square 
{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.square:after 
{
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* I like doing this for divs that have a background image
Then I just set the bg image inline
But since you already set them here in the css we'll leave it like that
But we'll apply this class to them */
.bg-div 
{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}