.reflex_background
{
    background-image: url("../media/fight.gif");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.white_text
{
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

.custom-col
{
    /* border-style: solid; */
    /* border-color: red; */
}

.code-background
{
    background-color: #ffffff;
    padding: 8px;
}